*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: #dadada;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}

/* .elem{
    background-color: crimson;
    border: 3px solid black;
}

#elem1{
    background-color: blueviolet;
    grid-row-start: 1;
    grid-row-end: 3;
    /* grid-row: 1/3; in short */
    /* grid-column-start: 1; */
    /* grid-column-end: 4; */
    /* grid-column: 1/3; */
/* } */ 
