*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

#page1{
    height: 100vh;
    width: 100%;
    /* background-color: aqua; */
}

#page2{
    height: 100vh;
    width: 100%;
    /* background-color: rgb(33, 197, 197); */
}


#page2 #image-div{
    height: 100%;
    width: 35%;
    position: relative;
    left: 50%;
    /* background-color: red; */
    transform: translateX(-50%);
    overflow: hidden;
}

#image-div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 0.9;
}

#page3{
    height: 100vh;
    width: 100%;
    /* background-color: rgb(46, 114, 114); */
}